/* import from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* import from google fonts */

body {
    margin: 0;
    padding: 0;
    height: 6000px;
}


/* Start header Section */

header {
    background-image: url('images/header_background.png');
    min-height: 600px;
}


/* Start Nav bar Section */

.bg-light {
    background-color: transparent!important;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-light .navbar-brand {
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.navbar-light .navbar-brand span {
    color: #feaa25;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: inherit;
}

@media screen and (min-width: 992px) {
    .nav-item {
        padding-right: 18px;
        padding-left: 18px;
    }
}

@media screen and (max-width:992px) {
    .navbar-light .navbar-nav .nav-link:focus,
    .navbar-light .navbar-nav .nav-link:hover {
        padding-left: 30px;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    padding-right: 18px;
    padding-left: 18px;
    transition: 0.8s;
    color: white;
    background-color: #2500f9;
    border-radius: 28.5px;
}


/* End nav bar section  */


/* Start Header content */


/*.header_content {
    margin-top: 50px;
    margin-bottom: 20px;
}*/

.header_welcome {
    padding-top: 100px;
    padding-bottom: 100px;
}

@media screen and (max-width:768px) {
    .header_welcome {
        padding-left: 10px;
        padding-right: 10px;
    }
    .header_welcome section {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .header_welcome h1,
    .header_welcome p {
        text-align: center;
    }
}

.header_welcome section {
    background-color: #e2eaed;
    display: inline-flex;
    align-items: flex-end;
    border-radius: 28.5px;
    margin-bottom: 15px;
}

.header_welcome section img {
    max-width: 100%;
    margin-right: 10px;
}

.header_welcome h6 {
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-right: 10px;
}

.header_welcome h1 {
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.header_welcome p {
    color: #616368;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.header_welcome .btn-primary {
    color: #2500f9;
    background-color: transparent;
    border-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.header_welcome .btn-primary:hover {
    transition: 0.8s;
    background-color: #2500f9;
    color: white;
    border-radius: 28.5px;
}

.header_welcome .btn-check:focus+.btn,
.btn:focus {
    box-shadow: none;
}

.header_welcome .btn-check:active+.btn-primary:focus,
.header_welcome .btn-check:checked+.btn-primary:focus,
.header_welcome .btn-primary.active:focus,
.header_welcome .btn-primary:active:focus,
.header_welcome .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.header_phone img {
    max-width: 100%;
}


/* End Header content */


/* End Header section */


/* Start Trust companies section */

.trust_companies {
    padding-top: 100px;
    padding-bottom: 100px;
}

.trust_companies h4 {
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 70px;
    font-size: 18px;
}

.trust_companies .company_item img {
    max-width: 100%;
}

@media screen and (max-width:992px) {
    .company_item {
        margin-bottom: 40px;
    }
}


/* End Trust companies section */


/* Start Features section */

.Features {
    padding-top: 100px;
    padding-bottom: 100px;
}

.Features .Phone_bg img {
    max-width: 100%;
}

.Features .features_description h1 {
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.Features .features_description p {
    color: #616368;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 40px;
}

.Features .features_description .features_item {
    margin-bottom: 60px;
}

.Features .features_description .features_item p {
    margin-bottom: 0;
}

.Features .features_description .features_item img {
    max-width: 100%;
    margin-top: 30px;
    width: 75px;
}

.Features .features_description .features_item h4 {
    color: #f55767;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.Features .features_description .features_item .Prototyping h4 {
    color: #2563ff;
}

.Features .features_description .features_item .Vector_Editing h4 {
    color: #40975f;
}

@media screen and (max-width:992px) {
    .Features .features_description p,
    .Features .features_description h1,
    .Features .features_description h4 {
        text-align: center;
    }
    .features_intro {
        margin-bottom: 80px;
    }
}


/* End Features section */


/* Start jackpot section */

.jackpot {
    padding-top: 100px;
    padding-bottom: 100px;
}

.jackpot h1 {
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 20px;
}

.jackpot p {
    color: #616368;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

@media screen and (min-width:992px) {
    .jackpot p {
        margin-top: 50px;
    }
}

@media screen and (max-width:992px) {
    .automatic,
    .network {
        margin-bottom: 40px;
    }
}

.jackpot .Vertical_divider hr:not([size]) {
    height: 150px;
    width: 4px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.jackpot .horizental_divider hr:not([size]) {
    height: 3px;
    margin-top: 22px;
    margin-bottom: 30px;
}

.jackpot_description {
    margin-bottom: 100px;
}

.jackpot img {
    max-width: 100%;
    margin-bottom: 30px;
    width: 75px;
}

.jackpot h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.automatic h4 {
    color: #f55767;
}

.network h4 {
    color: #2500f9;
}

.reward h4 {
    color: #40975f;
}


/* End jackpot section */


/* Start integration section*/

.integration img {
    max-width: 100%;
}

.integration h1 {
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.integration p {
    color: #616368;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.integration .btn-primary {
    background-color: #2500f9;
    color: white;
    border-radius: 28.5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border-color: transparent;
}

.integration .btn-primary:hover {
    opacity: 0.8;
}

.integration .btn-check:focus+.btn,
.integration .btn:focus {
    box-shadow: none;
}

.integration .btn-check:active+.btn-primary:focus,
.integration .btn-check:checked+.btn-primary:focus,
.integration .btn-primary.active:focus,
.integration .btn-primary:active:focus,
.integration .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

@media screen and (max-width:992px) {
    .integration_description {
        text-align: center;
    }
    .integration_description h1,
    .integration p {
        margin-bottom: 30px;
    }
}

.integration {
    padding-top: 100px;
    padding-bottom: 100px;
}


/* End integration section */


/* Start Choose section */

.choose {
    padding-top: 100px;
    padding-bottom: 100px;
}

.choose h1 {
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.choose p {
    color: #616368;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.choose .choose_intro {
    margin-bottom: 40px;
}

.choose img {
    max-width: 100%;
    width: 75px;
    margin-bottom: 30px;
}

.choose h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #242f51;
}

.choice_item {
    margin-bottom: 40px;
}


/* End Choose section */

.ultimate_features {
    padding-top: 100px;
    padding-bottom: 100px;
}

.ultimate_description {
    margin-bottom: 40px;
}

.ultimate_icons img {
    max-width: 100%;
    margin-top: 100px;
}

.ultimate_description h1 {
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.ultimate_description p {
    color: #616368;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.ultimate_features_item {
    text-align: center;
}

.ultimate_features_item img {
    margin-bottom: 30px;
    width: 75px;
}

.ultimate_features h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #242f51;
}

.ultimate_features p {
    color: #616368;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

@media screen and (max-width:992px) {
    .ultimate_description {
        text-align: center;
    }
}