/* import from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* import from google fonts */

body {
    margin: 0;
    padding: 0;
    height: 6000px;
}


/* Start header Section */

header {
    background-image: url('images/header_background.png');
    min-height: 600px;
}


/* Start Nav bar Section */

.bg-light {
    background-color: transparent!important;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-light .navbar-brand {
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.navbar-light .navbar-brand span {
    color: #feaa25;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: inherit;
}

@media screen and (min-width: 992px) {
    .nav-item {
        padding-right: 18px;
        padding-left: 18px;
    }
}

@media screen and (max-width:992px) {
    .navbar-light .navbar-nav .nav-link:focus,
    .navbar-light .navbar-nav .nav-link:hover {
        padding-left: 30px;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    transition: 0.8s;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    background-color: #2500f9;
    border-radius: 28.5px;
}


/* End nav bar section  */


/* Start Header content */


/*.header_content {
    margin-top: 50px;
    margin-bottom: 20px;
}*/

.header_welcome {
    padding-top: 100px;
    padding-bottom: 100px;
}

@media screen and (max-width:768px) {
    .header_welcome {
        padding-left: 10px;
        padding-right: 10px;
    }
    .header_welcome section {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .header_welcome h1,
    .header_welcome p {
        text-align: center;
    }
}

.header_welcome section {
    background-color: #e2eaed;
    display: inline-flex;
    align-items: flex-end;
    border-radius: 28.5px;
    margin-bottom: 15px;
}

.header_welcome section img {
    max-width: 100%;
    margin-right: 10px;
}

.header_welcome h6 {
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-right: 10px;
}

.header_welcome h1 {
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.header_welcome p {
    color: #616368;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.header_welcome .btn-primary {
    color: #2500f9;
    background-color: transparent;
    border-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    transition: 0.8s;
}

.header_welcome .btn-primary:hover {
    background-color: #2500f9;
    color: white;
    border-radius: 28.5px;
}

.header_welcome .btn-check:focus+.btn,
.btn:focus {
    box-shadow: none;
}

.header_welcome .btn-check:active+.btn-primary:focus,
.header_welcome .btn-check:checked+.btn-primary:focus,
.header_welcome .btn-primary.active:focus,
.header_welcome .btn-primary:active:focus,
.header_welcome .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.header_phone img {
    max-width: 100%;
}


/* End Header content */


/* End Header section */


/* Start Trust companies section */

.trust_companies {
    padding-top: 100px;
    padding-bottom: 100px;
}

.trust_companies h4 {
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 70px;
    font-size: 18px;
}

.trust_companies .company_item img {
    max-width: 100%;
}

@media screen and (max-width:992px) {
    .company_item {
        margin-bottom: 40px;
    }
}


/* End Trust companies section */


/* Start Features section */

.Features {
    padding-top: 100px;
    padding-bottom: 100px;
}

.Features .Phone_bg img {
    max-width: 100%;
}

.Features .features_description h1 {
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.Features .features_description p {
    color: #616368;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 40px;
}

.Features .features_description .features_item {
    margin-bottom: 60px;
}

.Features .features_description .features_item p {
    margin-bottom: 0;
}

.Features .features_description .features_item img {
    max-width: 100%;
    margin-top: 30px;
    width: 75px;
}

.Features .features_description .features_item h4 {
    color: #f55767;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.Features .features_description .features_item .Prototyping h4 {
    color: #2563ff;
}

.Features .features_description .features_item .Vector_Editing h4 {
    color: #40975f;
}

@media screen and (max-width:992px) {
    .Features .features_description p,
    .Features .features_description h1,
    .Features .features_description h4 {
        text-align: center;
    }
    .features_intro {
        margin-bottom: 80px;
    }
}


/* End Features section */


/* Start jackpot section */

.jackpot {
    padding-top: 100px;
    padding-bottom: 100px;
}

.jackpot h1 {
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 20px;
}

.jackpot p {
    color: #616368;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

@media screen and (min-width:992px) {
    .jackpot p {
        margin-top: 50px;
    }
}

@media screen and (max-width:992px) {
    .automatic,
    .network {
        margin-bottom: 40px;
    }
}

.jackpot .Vertical_divider hr:not([size]) {
    height: 150px;
    width: 4px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.jackpot .horizental_divider hr:not([size]) {
    height: 3px;
    margin-top: 22px;
    margin-bottom: 30px;
}

.jackpot_description {
    margin-bottom: 100px;
}

.jackpot img {
    max-width: 100%;
    margin-bottom: 30px;
    width: 75px;
}

.jackpot h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.automatic h4 {
    color: #f55767;
}

.network h4 {
    color: #2500f9;
}

.reward h4 {
    color: #40975f;
}


/* End jackpot section */


/* Start integration section*/

.integration img {
    max-width: 100%;
}

.integration h1 {
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.integration p {
    color: #616368;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.integration .btn-primary {
    background-color: #2500f9;
    color: white;
    border-radius: 28.5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border-color: transparent;
    transition: 0.2s;
}

.integration .btn-primary:hover {
    opacity: 0.6;
}

.integration .btn-check:focus+.btn,
.integration .btn:focus {
    box-shadow: none;
}

.integration .btn-check:active+.btn-primary:focus,
.integration .btn-check:checked+.btn-primary:focus,
.integration .btn-primary.active:focus,
.integration .btn-primary:active:focus,
.integration .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

@media screen and (max-width:992px) {
    .integration_description {
        text-align: center;
    }
    .integration_description h1,
    .integration p {
        margin-bottom: 30px;
    }
}

.integration {
    padding-top: 100px;
    padding-bottom: 100px;
}


/* End integration section */


/* Start Choose section */

.choose {
    padding-top: 100px;
    padding-bottom: 100px;
}

.choose h1 {
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.choose p {
    color: #616368;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.choose .choose_intro {
    margin-bottom: 40px;
}

.choose img {
    max-width: 100%;
    width: 75px;
    margin-bottom: 30px;
}

.choose h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #242f51;
}

.choice_item {
    margin-bottom: 40px;
}


/* End Choose section */


/* Start ultimate Features section  */

.ultimate_features {
    padding-top: 100px;
    padding-bottom: 100px;
}

.ultimate_description {
    margin-bottom: 40px;
}

.ultimate_icons img {
    max-width: 100%;
    margin-top: 100px;
}

.ultimate_description h1 {
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.ultimate_description p {
    color: #616368;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.ultimate_features_item {
    text-align: center;
    margin-bottom: 40px;
}

.ultimate_features_item img {
    margin-bottom: 30px;
    width: 75px;
}

.ultimate_features h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #242f51;
}

.ultimate_features p {
    color: #616368;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

@media screen and (max-width:992px) {
    .ultimate_description {
        text-align: center;
    }
}

.ultimate_features .btn-primary {
    background-color: #2500f9;
    color: white;
    border-radius: 28.5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border-color: transparent;
    transition: 0.2s;
}

.ultimate_features .btn-primary:hover {
    opacity: 0.6;
}

.ultimate_features .btn-check:focus+.btn,
.ultimate_features .btn:focus {
    box-shadow: none;
}

.ultimate_features .btn-check:active+.btn-primary:focus,
.ultimate_features .btn-check:checked+.btn-primary:focus,
.ultimate_features .btn-primary.active:focus,
.ultimate_features .btn-primary:active:focus,
.ultimate_features .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

@media screen and (max-width:992px) {
    .ultimate_button {
        text-align: center;
    }
}


/* End ultimate features section */


/* Start pricing section */

.pricing {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pricing_intro {
    margin-bottom: 40px;
}

.pricing h1 {
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.pricing p {
    color: #616368;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.pricing .pricing_item {
    border: solid 2px #999ca5;
    padding: 0;
    border-radius: 9px;
    transition: 0.8s;
}

.pricing .pricing_item:hover {
    border-color: transparent;
    transform: translateY(-20px);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 30%);
}

.pricing .pricing_item .price {
    background-image: linear-gradient(to Top, #e3e3e4, white);
    /*background-color: #f4f7f9;*/
    padding-top: 50px;
    padding-bottom: 50px;
}

.pricing .pricing_item h2 {
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 0;
}

.pricing .pricing_item span {
    color: #999ca5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.pricing .pricing_item .price_features {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pricing .pricing_item .price_features .btn-primary {
    background-color: #2500f9;
    color: white;
    border-radius: 28.5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border-color: transparent;
}

.pricing .pricing_item .price_features .btn-primary:hover {
    opacity: 0.8;
}

.pricing .pricing_item .price_features .btn-check:focus+.btn,
.pricing .pricing_item .price_features .btn:focus {
    box-shadow: none;
}

.pricing .pricing_item .price_features .btn-check:active+.btn-primary:focus,
.pricing .pricing_item .price_features .btn-check:checked+.btn-primary:focus,
.pricing .pricing_item .price_features .btn-primary.active:focus,
.pricing .pricing_item .price_features .btn-primary:active:focus,
.pricing .pricing_item .price_features .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.pricing h6 {
    margin-top: 20px;
    color: #2500f9;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

@media screen and (max-width:768px) {
    .pricing .pricing_item {
        margin-bottom: 60px;
    }
}


/* End pricing section */


/* Start Questions Sections */

.questions {
    padding-top: 100px;
    padding-bottom: 100px;
}

.questions .questions_intro {
    margin-bottom: 40px;
}

.questions .questions_intro h1 {
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.questions p {
    color: #616368;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.questions .answer {
    background-color: #f5f7fa;
    padding: 40px;
    margin-bottom: 15px;
}

.questions .answer h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #242f51;
}

.questions_item {
    padding: 20px;
    background-color: #f5f7fa;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 15px;
}

.questions .questions_item h4 {
    font-family: 'Poppins', sans-serif;
    color: #242f51;
    font-weight: 500;
    margin-bottom: 0;
}

.questions .questions_item img {
    max-width: 100%;
}


/* End Questions Section */


/* start download section */

.download {
    padding-top: 100px;
    padding-bottom: 100px;
}

.download h1 {
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.download p {
    color: #616368;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 20px 0;
}

.download .download_description img {
    max-width: 100%;
    width: 150px;
    margin: 15px;
}

.download .download_description img:hover {
    transition: 0.6s;
    transform: scale(1.1);
}

.download .download_phone img {
    max-width: 100%;
}

@media screen and (max-width:992px) {
    .download {
        text-align: center;
    }
}


/* End download section */

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #09142e;
}

footer h1 {
    color: white;
    margin-bottom: 60px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

footer h1 span {
    color: #feaa25;
}

footer h1 a {
    text-decoration: none;
    color: inherit;
}

footer h1 a:hover {
    color: inherit;
}

footer .footer_bar {
    margin-bottom: 60px;
}

footer .footer_item {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

footer .footer_item:hover {
    color: #feaa25;
}

footer .footer_item a {
    color: inherit;
    text-decoration: none;
}

footer .contact {
    margin-bottom: 60px;
}

footer .contact i {
    color: #999ca5;
    font-size: 25px;
    margin: 10px 30px;
}

footer .contact i:hover {
    color: white;
}

footer p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #999ca5;
}

@media screen and (max-width:577px) {
    footer .footer_item {
        margin-bottom: 30px;
    }
}

.hidden {
    display: none;
}

.show {
    display: block;
}